<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required minlength="4" #title="ngModel" placeholder="Etiket girin.">
      <mat-error class="warntext" *ngIf="title.invalid">Tum alanları doldurun.</mat-error>

    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="content" ngModel required placeholder="Aciklama girin."> </textarea>
      <mat-error class="warntext" *ngIf="title.invalid">Tum alanları doldurun.</mat-error>

    </mat-form-field>
    <button mat-raised-button color="warn" type="submit">GONDER</button>
  </form>
</mat-card>
<hr>
<br>
